
body {
  font-family: "TTLakes";
  background-color: #F8F8F8;
  margin: 0;
}

.container {
  display: flex;
  margin-left: 0px;
  height: 88px;
  width: 100%;
  margin-right: 0px;
  justify-content: space-between;
    padding: 0 16px;
}

.header {
  background-color: #fff;
  align-items: center;
  width: 100%;
}

.header__wrapper {
  display: flex;
}
  .header__icon {
    margin-bottom: 23px;
    margin-top: 24px;
  }

.header__link {
  color: #1B1C21;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.header__line {
  margin-bottom: 27px;
  margin-top: 28px;

  align-self: center;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;

}
.main{
  align-items: center;
}
.nav-scroller {
  box-sizing: border-box;
  overflow-y: hidden;
}

.nav-scroller__items {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: space-between;
  background-color: #F8F8F8;
  padding-left: 24px;
}

.nav-scroller__item {
  font-weight: 400;
  color: #424242;
  display: flex;
  padding: 0.5rem 1.25rem;
  text-decoration: none;

}

.nav-scroller__item {
  border: 1px solid transparent;
}

.nav-scroller__item:first-child {
  border: 1px solid aquamarine;
  border-radius: 5%;
  background-color: #fff;
  transition-duration: 0.5s;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  margin-top: 24px;
  align-self: center;
  padding-left: 24px;
}
.desctop{
  display: none;
}

.text__information {
  padding-left: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.title__wrapper {
  display: flex;
}

.main__img--cps {
  margin-top: 25px;
  width: 100%;
} 
.main__img--cps img{
  width: 100%;
}
img{
  max-width: 100%;
  height:auto;
  object-fit: contain;
}
.main__img--line{
  display: flex;
  width: 4px;
  height: 40px;
  margin-top: 20px;
}
.button {
  display: flex;
  padding-left: 25px;
}

.button__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.main__wrapper {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  
}
.text__information{
  max-width: 490px;
margin-top: 32px;
width: auto;
height: auto;
}

@media (min-width: 320px) and (max-width:767px)  {
  .container{
    display: flex;
    
  }

  .main__wrapper {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .header__logo {
    margin-right: auto;
    vertical-align: middle;
    margin-left: 25px;
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
  }
  .header__logo::after{
    content:"";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    position: absolute;
    z-index: 20;
    top: 50%;
    transform: translateY(-50%);
    right: -13px;
  }
  .header__mobile{
    display: flex;
    column-gap: 10px;
  }
  .icon__text {
    margin-right: 5px;
    margin-left: 24px;
    display: none;
  }
  .nav-scroller__items{
    padding-top: 24px;
  }
  .header__wrapper{
    display: none;
  }
  .text__information p:nth-child(2){
    display: none;
  }
  .text__information{
max-width: none;
  }
}

@media (min-width: 768px) and (max-width:1120px) {
  .header__mobile{
    display: none;
  }
  
  .header__icon {
    display: flex;
    margin-bottom: 23px;
    margin-top: 24px;
    margin-left: 24px;
  }
  .header__icon:first-child{
    margin-right: 10px;
  }
  .header__wrapper .header__icon:nth-child(2){
    margin-right: 10px;
  }
  .header__wrapper .header__icon:nth-child(3){
    margin-right: 10px;
  }
  .header__logo {
    position:relative;
    vertical-align: middle;
    margin-left: 20px;
    margin-bottom: auto;
    margin-top: auto;
  }
  .header__logo::after{
    content:"";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    position: absolute;
    z-index: 20;
    top: 50%;
    transform: translateY(-50%);
    left: -13px;
  }
  .header__icon:nth-child(3)::after{
    content:"";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    position: absolute;
    z-index: 20;
    top: 50%;
    transform: translateY(-50%);
    right: 120px;
  }
  .header__wrapper {
    position: relative;
    margin-left: auto;
  }
  .nav-scroller__items{
    padding-top: 24px;
  }
  .main__text-content{
    width: 50%;
    padding-right: 20px;
  }
  .main__img--cps {
    width: 50%;
  } 
  .text__information p:nth-child(2) span{
    display: none;
  }
}
@media  (min-width:1120px){
  .header {
    display: none;
  }
  .desctop{
    display: flex;
    margin-left: auto;
    margin-top: auto;
    margin-right: 32px;
    
  }
  .icon__text{
    display: flex;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-right: 5px;
    margin-left: 24px;
  }
  .main{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1120px;
  }
  .main__text-content{
    width: 50%;
    padding-right: 20px;
  }
  .main__img--cps {
    width: 50%;
  } 
.title__wrapper{
  margin-bottom: 8px;
}
}